<div class="media-object">

    <div class="media-object__media">

        <div class="ribotar" {{#if hexColor}}style="background-color: {{hexColor}}"{{/if}}>

            <div class="image" data-src="{{ribotarURL}}"></div>

        </div>

    </div>

    <div class="media-object__body">

        <dl class="data">
            <div class="data__item">
                <dt class="data__label">{{{idiom "fav_sweet_label"}}}</dt>
                <dd class="data__value">{{#if favSweet}}{{favSweet}}{{else}}—{{/if}}</dd>
            </div>
            <div class="data__item">
                <dt class="data__label">{{{idiom "fav_season_label"}}}</dt>
                <dd class="data__value">{{#if favSeason}}{{favSeason}}{{else}}—{{/if}}</dd>
            </div>
        </dl>

    </div>

</div>

{{#if description}}
<div class="description">
    <div class="description__rule" {{#if hexColor}}style="background-color: {{hexColor}}"{{/if}}></div>
    <p>{{description}}</p>
</div>
{{/if}}