<div class="section-list">

    {{#each this}}
    <section class="section" data-id="{{id}}" data-url="{{url}}">

        <header class="header">
            <h1><b>{{firstName}}</b> {{lastName}}</h1>
            <h2 {{#if hexColor}}style="background-color: {{hexColor}};"{{/if}}>{{#if role}}{{role}}{{else}}—{{/if}}</h2>
        </header>

        <div class="section__body"></div>
        
    </section>
    {{/each}}

</div>