<!doctype html>

<html lang="en">

    <head>
        <!-- Meta -->
        <title>{{title}}</title>
        <meta charset="utf-8" />
        <link rel="dns-prefetch" href="//{{base_url}}" />
        <meta name="author" content="{{author}}" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <!-- / Meta -->

        <!-- CSS -->
        <link href="http://fonts.googleapis.com/css?family=Poly:400italic" rel="stylesheet" media="screen" />
        <link href="{{base_url}}css/build.css" rel="stylesheet" media="screen" />
        <!-- / CSS -->

        <!-- JS -->
        <script src="{{base_url}}js/almond.js"></script>
        <script src="{{base_url}}js/build.js" async defer></script>
        <!-- / JS -->
    </head>

    <body>
        {{{body}}}
        <div class="font-trigger">-<b>-</b><em>-</em></div>
    </body>

</html>